{% extends "base.html" %}

{% block head %}
    <script src="static/script.js"></script>
{%  endblock %}

{% block content %}

<div class="container">
    <h1 style="text-transform: uppercase;">About me</h1>
    <p>For the past 13 years, I have dedicated myself to the field of education, shaping young minds and fostering a love for learning. Recently, I made the decision to embark on a new career path, driven by my fascination with web development and its potential to create innovative and impactful solutions. Despite the demands of a full-time teaching career and the responsibilities of a family, I proactively enrolled in a coding bootcamp to expand my skill set and acquire a solid foundation in web development. I am now equipped with a solid understanding of web development principles, programming languages, and industry best practices. In addition to my technical expertise, I bring a strong work ethic, adaptability, and effective communication skills honed through years of classroom teaching.</p>
    <div>
        <a href="/resume" onmouseover="changeColor(this)" onmouseout="changeBack(this)">View Full Résumé <i class="fa-solid fa-arrow-right"></i></a>
    </div>
</div>


{% endblock %}