{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1 style="text-transform: uppercase;">Projects</h1>
    <div class="container">
        <h5>Personal Organizer</h5>
        <div class="project-container">
            <div class="left-container">
                <img src="static/images/project1.png" alt="project" class="project-img">
            </div>
            <div class="right-container">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate excepturi nemo neque quidem ipsa inventore debitis, dolore ipsum beatae distinctio corrupti quibusdam ut pariatur deleniti? Vero consequatur aspernatur ab nihil!</p>
            </div>
        </div>
    </div>
    <div class="container">
        <h5>JK Wellness</h5>
        <div class="project-container">
            <div class="left-container">
                <img src="static/images/project2.png" alt="project" class="project-img">
            </div>
            <div class="right-container">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate excepturi nemo neque quidem ipsa inventore debitis, dolore ipsum beatae distinctio corrupti quibusdam ut pariatur deleniti? Vero consequatur aspernatur ab nihil!</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}