{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1 style="text-transform: uppercase;">Projects</h1>
    <div class="container">
        <div class="project-container">
            <div class="left-container">
                <img src="static/images/project1.png" alt="project" class="project-img">
            </div>
            <div class="right-container">
                <a href="https://github.com/jkim2027/organizer"><h5>Personal Organizer <i class="fa-solid fa-arrow-up-right-from-square"></i></h5></a>
                <p>A web app to create tasks and events for personal organization. Customize each category and filter to see your upcoming deadlines.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="project-container">
            <div class="left-container">
                <img src="static/images/project2.png" alt="project" class="project-img">
            </div>
            <div class="right-container">
                <a href="https://github.com/jkim2027/jkwellness"><h5>JK Wellness <i class="fa-solid fa-arrow-up-right-from-square"></i></h5></a>
                <p>A static site for a client's health & wellness business.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}